
body{margin: 0; padding: 0;background-color:grey}
#loginForm{background-color:whitesmoke;
    border-radius: 3px;
    padding:5px;
    margin: 2px;
    top:270px;
    width: 30%;
    height: auto;
    left:35%;
               position: absolute;
}


